@page "/resume"

<PageTitle>Resume</PageTitle>

<div style="width:80%">
<h1>Resume</h1>

<h4>Professional Summary</h4>
<p>Detail-oriented and highly adaptable Software Engineer with 8+ years of experience in full-stack
development. Proven success in delivering enterprise web applications for federal and state agencies,
streamlining processes, and optimizing legacy systems. Strong advocate of clean code, automation, and
continuous integration to drive efficiency and scalability.</p>

<h4>Professional Experience</h4>
<b>REI Systems, Inc.</b> <div style="font-weight:bold;float:right">Software Engineer</div><br/>
<i>Sterling, VA</i> <div style="font-style:italic;float:right">Feb 2017 – May 2025</div><br/>
<i>HRSA.gov – Federal Healthcare Grants Management Platform</i>
<ul>
    <li>Developed and maintained scalable full-stack web solutions using C#, TypeScript, JavaScript, and SQL</li>
    <li>Designed clean, modular code architecture to support a 1M+ line codebase while improving
    maintainability</li>
    <li>Automated repetitive development tasks with Python, PowerShell, and Regex, cutting manual hours by
    up to 90%</li>
    <li>Served as Scrum Master on a rotating basis; coordinated sprint planning, stand-ups, and retrospectives</li>
    <li>Increased developer velocity by 10% through technical debt management and unit test coverage
    initiatives</li>
    <li>Collaborated with Business Analysts to ensure accurate requirement implementation and backward
    compatibility</li>
    <li>Created detailed technical documentation and onboarding materials to support long-term project
    maintainability and team scaling</li>
    <li>Awarded the 2022 “Going the Extra Mile” Award for leading development efforts across multiple largescale
    releases, contributing complex code enhancements, and ensuring high-quality delivery under
    tight timelines</li>
</ul>
<i>Utah GovGrants – Statewide Grants Management System</i>
<ul>
    <li>Developed CI/CD pipelines using Git, Jenkins, and Ant to automate Salesforce deployment workflows</li>
    <li>Built a Salesforce-based scheduling system that integrated with custom MuleSoft APIs to sync millions
    of financial records across disparate platforms</li>
</ul>

<h4>Technical Skills</h4>
<b>Languages:</b> C# | JavaScript | TypeScript | Python | SQL<br/>
<b>Frameworks/Platforms:</b> ASP.NET | MuleSoft | Salesforce | HTML/CSS<br/>
<b>DevOps/Tools:</b> Git | Jenkins | Azure DevOps | Ant<br/>
<b>Concepts:</b> SOLID Principles | Microservices | MVC | Unit Testing | Agile/Scrum<br/>
<b>Additional Tools:</b> PowerShell | Regex | LINQ | MS SQL Server | TFS<br/><br/>

<h4>Education</h4>
<b>B.S. in Computer Science</b> <div style="float:right"><b>B.S. in Psychology</b></div><br/>
Shepherd University, 2016 <div style="float:right">West Virginia University, 2013</div>
</div>